<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="ui center">
    <h2 class="ui blue header">
      <div class="content">
        <h1>Welcome <%- username %></h1>
        <h2>Your Properties</h2>
      </div>
    </h2>

    <table class="ui sortable celled table">
      <thead>
        <tr>
          <th data-sort-column="Name" data-sort-asc="true">Name</th>
          <th data-sort-column="Street" data-sort-asc="true">Address</th>
          <th data-sort-column="City" data-sort-asc="true">City</th>
          <th data-sort-column="Zip" data-sort-asc="true">Zip</th>
          <th data-sort-column="Size" data-sort-asc="true">Acres</th>
          <th data-sort-column="PropertyType" data-sort-asc="true">Type</th>
          <th data-sort-column="IsPublic" data-sort-asc="true">Public</th>
          <th data-sort-column="IsCommercial" data-sort-asc="true">Commercial</th>
          <th data-sort-column="ID" data-sort-asc="true">ID</th>
          <th data-sort-column="Visits" data-sort-asc="true">Visits</th>
          <th data-sort-column="AvgRating" data-sort-asc="true">Avg Rating</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < properties.length; i++) { %>
          <tr>
            <td><a href="/properties/view/<%= properties[i].ID %>"><%= properties[i].Name %></a></td>
            <td><%= properties[i].Street %></td>
            <td><%= properties[i].City %></td>
            <td><%= properties[i].Zip %></td>
            <td><%= properties[i].Size %></td>
            <td><%= properties[i].PropertyType %></td>
            <td><%= properties[i].IsPublic %></td>
            <td><%= properties[i].IsCommercial %></td>
<<<<<<< HEAD
            <td><%= properties[i].ID %></td>
            <td><%= properties[i].VisitCount ? properties[i].VisitCount : 0 %></td>
            <td><%= properties[i].RatingNum ? properties[i].RatingNum : 'N/A' %></td>
=======
            <td><%= String(properties[i].ID).padStart(5, "0") %></td>
            <td><%= properties[i].Visit_count ? properties[i].Visit_count : 0 %></td>
            <td><%= properties[i].Visit_rating ? properties[i].Visit_rating : 'N/A' %></td>
>>>>>>> 885df5924274b6c30f47f41f3af55a8b8765f1cd
            <td><a href="/properties/edit/<%= properties[i].ID %>">Manage property</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <form action="/owner/view-properties" method="GET" class="ui form">
        <div class="field">
            <label>Search</label>
            <select name="col" class="ui fluid dropdown">
                <option value="Name">Name</option>
                <option value="City">City</option>
                <option value="Type">Type</option>
                <option value="VisitCount">Visits</option>
                <option value="RatingNum">Avg. Rating</option>
            </select>
        </div>
        <div class="field">
            <div class="ui category search">
                <div class="ui icon input">
                    <input name="pattern" class="prompt" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </form>

    <button class="ui button"><a href="/properties/new">Add Property</a></button>
    <button class="ui button"><a href="/properties/others">View other Properties</a></button>

  </div>

</body>

<script src="/js/jquery-tablesort.js" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('tr th').click(function(e) {
      var $this = $(this);
      const sortCol = $this.data('sortColumn');
      const isAsc = $this.data('sortAsc');
      const sortOrder = isAsc ? 'asc' : 'desc';
      $this.data('sortAsc', !isAsc);
      $.ajax({
        url: `/properties/sort?sortBy=${sortCol}&sortOrder=${sortOrder}`,
        method: 'GET',
        success: function(data) {
          let properties = data.properties;
          let tableDOM = `<tbody>`;
          for (var i = 0; i < properties.length; i++) {
            let visitCount = properties[i].Visit_count ? properties[i].Visit_count : 0;
            let visitRating = properties[i].Visit_rating ? properties[i].Visit_rating : 'N/A';
            tableDOM += `
                <tr>
                  <td><a href="/properties/view/${properties[i].ID}">${properties[i].Name}</a></td>
                  <td>${properties[i].Street}</td>
                  <td>${properties[i].City}</td>
                  <td>${properties[i].Zip}</td>
                  <td>${properties[i].Size}</td>
                  <td>${properties[i].PropertyType}</td>
                  <td>${properties[i].IsPublic}</td>
                  <td>${properties[i].IsCommercial}</td>
                  <td>${properties[i].ID}</td>
                  <td>${visitCount}</td>
                  <td>${visitRating}</td>
                  <td><a href="/properties/edit/${properties[i].ID}">Manange property</a></td>
                </tr>
            `;
          }
          $('tbody').replaceWith(tableDOM + '</tbody>');
        },
        error: function(xhr) {

        }
      });
    });

  });
</script>

</html>
