<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class="ui center aligned grid ui basic segment">
    <div class="ui">
        <a href="/">
            <button class="ui labeled icon button active">
                <i class="left chevron icon"></i>
                Back
            </button>
        </a>
    </div>

    <h2 class="ui blue header">
        <div class="content">
            <h1>Unconfirmed Properties</h1>
        </div>
    </h2>
    <h1>
        TODO: SEARCH FUNCTIONALITY
    </h1>

    <table class="ui compact sortable celled striped table">
        <thead>
        <tr>
            <th data-sort-column="Name" data-sort-asc="true">Name</th>
            <th data-sort-column="Street" data-sort-asc="true">Address</th>
            <th data-sort-column="City" data-sort-asc="true">City</th>
            <th data-sort-column="Zip" data-sort-asc="true">Zip</th>
            <th data-sort-column="Size" data-sort-asc="true">Size</th>
            <th data-sort-column="PropertyType" data-sort-asc="true">Type</th>
            <th data-sort-column="IsPublic" data-sort-asc="true">Public</th>
            <th data-sort-column="IsCommercial" data-sort-asc="true">Commercial</th>
            <th data-sort-column="ID" data-sort-asc="true">ID</th>
            <th data-sort-column="Owner" data-sort-asc="true">Owner</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < properties.length; i++) { %>
        <tr>
            <td><%= properties[i].Name %></td>
            <td><%= properties[i].Street %></td>
            <td><%= properties[i].City %></td>
            <td><%= properties[i].Zip %></td>
            <td><%= properties[i].Size %></td>
            <td><%= properties[i].PropertyType %></td>
            <td><%= properties[i].IsPublic %></td>
            <td><%= properties[i].IsCommercial %></td>
            <td><%= properties[i].ID %></td>
            <td><%= properties[i].Owner %></td>
        </tr>
        <% } %>
        </tbody>
    </table>

</div>
</body>

<script>
  $(document).ready(function() {
    $('tr th').click(function(e) {
      var $this = $(this);
      const sortCol = $this.data('sortColumn');
      const isAsc = $this.data('sortAsc');
      const sortOrder = isAsc ? 'asc' : 'desc';
      $this.data('sortAsc', !isAsc);
      $.ajax({
        url: `/admin/unconfirmed-properties/sort?sortBy=${sortCol}&sortOrder=${sortOrder}`,
        method: 'GET',
        success: function(data) {
          let properties = data.properties;
          let tableDOM = `<tbody>`;
          for (var i = 0; i < properties.length; i++) {
            tableDOM += `
              <tr>
                <td>${properties[i].Name}</td>
                <td>${properties[i].Street}</td>
                <td>${properties[i].City}</td>
                <td>${properties[i].Zip}</td>
                <td>${properties[i].Size}</td>
                <td>${properties[i].PropertyType}</td>
                <td>${properties[i].IsPublic}</td>
                <td>${properties[i].IsCommercial}</td>
                <td>${properties[i].ID}</td>
                <td>${properties[i].Owner}</td>
              </tr>
            `;
          }
          $('tbody').replaceWith(tableDOM + '</tbody>');
        },
        error: function(xhr) {

        }
      });
    });

  });
</script>
</html>
