<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class="ui center aligned grid ui basic segment">
    <div class="ui">
        <a href="/">
            <button class="ui labeled icon button active">
                <i class="left chevron icon"></i>
                Back
            </button>
        </a>
    </div>

    <h2 class="ui blue header">
        <div class="content">
            <h1>Unconfirmed Properties</h1>
        </div>
    </h2>

    <% if (locals.messages.error) { %>
    <div class="ui error message">
        <%- locals.messages.error %>
    </div>
    <% } %>
    <% if (locals.messages.success) { %>
    <div class="ui success message">
        <%- locals.messages.success %>
    </div>
    <% } %>

    <form action="/admin/unconfirmed-properties" method="GET" class="ui form">
        <div class="field">
            <label>Search</label>
            <select name="col" class="ui fluid dropdown">
                <option value="Name">Name</option>
                <option value="Street">Address</option>
                <option value="City">City</option>
                <option value="Zip">Zip</option>
                <option value="Size">Size</option>
                <option value="PropertyType">Type</option>
                <option value="IsPublic">Public</option>
                <option value="IsCommercial">Commercial</option>
                <option value="ID">ID</option>
                <option value="Owner">Owner</option>
            </select>
        </div>
        <div class="field">
            <div class="ui category search">
                <div class="ui icon input">
                    <input name="pattern" class="prompt" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </form>

    <table class="ui compact sortable celled striped table">
        <thead>
        <tr>
            <th data-sort-column="Name" data-sort-asc="true">Name</th>
            <th data-sort-column="Street" data-sort-asc="true">Address</th>
            <th data-sort-column="City" data-sort-asc="true">City</th>
            <th data-sort-column="Zip" data-sort-asc="true">Zip</th>
            <th data-sort-column="Size" data-sort-asc="true">Size</th>
            <th data-sort-column="PropertyType" data-sort-asc="true">Type</th>
            <th data-sort-column="IsPublic" data-sort-asc="true">Public</th>
            <th data-sort-column="IsCommercial" data-sort-asc="true">Commercial</th>
            <th data-sort-column="ID" data-sort-asc="true">ID</th>
            <th data-sort-column="Owner" data-sort-asc="true">Owner</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < properties.length; i++) { %>
        <tr>
            <td ><a href="/admin/prop/<%= properties[i].ID %>"><%= properties[i].Name %></a></td>
            <td ><%= properties[i].Street %></td>
            <td ><%= properties[i].City %></td>
            <td ><%= properties[i].Zip %></td>
            <td ><%= properties[i].Size %></td>
            <td ><%= properties[i].PropertyType %></td>
            <td ><%= properties[i].IsPublic %></td>
            <td ><%= properties[i].IsCommercial %></td>
            <td ><%= String(properties[i].ID).padStart(5, "0") %></td>
            <td ><%= properties[i].Owner %></td>
        </tr>
        <% } %>
        </tbody>
    </table>

</div>
</body>

<script>
  $(document).ready(function() {
    $('tr th').click(function(e) {
      var $this = $(this);
      const sortCol = $this.data('sortColumn');
      const isAsc = $this.data('sortAsc');
      const sortOrder = isAsc ? 'asc' : 'desc';
      $this.data('sortAsc', !isAsc);
      $.ajax({
        url: `/admin/unconfirmed-properties/sort?sortBy=${sortCol}&sortOrder=${sortOrder}`,
        method: 'GET',
        success: function(data) {
          const properties = data.properties;
          let tableDOM = `<tbody>`;
          for (var i = 0; i < properties.length; i++) {
            tableDOM += `
              <tr>
                <td><a href="/admin/prop/${properties[i].ID}">${properties[i].Name}</a></td>
                <td>${properties[i].Street}</td>
                <td>${properties[i].City}</td>
                <td>${properties[i].Zip}</td>
                <td>${properties[i].Size}</td>
                <td>${properties[i].PropertyType}</td>
                <td>${properties[i].IsPublic}</td>
                <td>${properties[i].IsCommercial}</td>
                <td>${String(properties[i].ID).padStart(5, "0")}</td>
                <td>${properties[i].Owner}</td>
              </tr>
            `;
          }
          $('tbody').replaceWith(tableDOM + '</tbody>');
        },
        error: function(xhr) {

        }
      });
    });

  });
</script>
</html>
