<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="ui center">
    <h2 class="ui blue header">
      <div class="content">
        <h1>Others' Valid Properties</h1>
      </div>
    </h2>

    <table class="ui sortable celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Zip</th>
          <th>Size</th>
          <th>Type</th>
          <th>Public</th>
          <th>Commercial</th>
          <th>ID</th>
          <th>Visits</th>
          <th>Avg Rating</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < properties.length; i++) { %>
          <tr>
            <td><a href="/properties/view/<%= properties[i].ID %>"><%= properties[i].Name %></a></td>
            <td><%= properties[i].Street %></a></td>
            <td><%= properties[i].City %></td>
            <td><%= properties[i].Zip %></td>
            <td><%= properties[i].Size %></td>
            <td><%= properties[i].PropertyType %></td>
            <td><%= properties[i].IsPublic %></td>
            <td><%= properties[i].IsCommercial %></td>
            <td><%= String(properties[i].ID).padStart(5, '0') %></td>
            <td><%= properties[i].VisitCount %></td>
            <td><%= properties[i].RatingNum ? properties[i].RatingNum : 'N/A' %></td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <form action="/owner/view-others" method="GET" class="ui form">
        <div class="field">
            <label>Search</label>
            <select name="col" class="ui fluid dropdown">
                <option value="Name">Name</option>
                <option value="City">City</option>
                <option value="Public">Public</option>
                <option value="VisitCount">Visits</option>
                <option value="RatingNum">Avg. Rating</option>
            </select>
        </div>
        <div class="field">
            <div class="ui category search">
                <div class="ui icon input">
                    <input name="pattern" class="prompt" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </form>

    <button class="ui button"><a href="/">Go back</a></button>

  </div>

</body>

<script src="/js/jquery-tablesort.js" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('table').tablesort();
  });
</script>

</html>
